body{
  width: 90%;
  margin: auto;
  text-align: center;
}
#gameArea{
  width: 80%;
  margin: auto;
}
.rows{
  display: flex;
  justify-content: center;
}
.box{
  width: 90px;
  height: 90px;
  border: 4px solid lightgrey;
  margin: 4px;
}