body{
  width: 95%;
  margin: auto;
  min-width: 570px;
  text-align: center;
  font-family: 'Bungee', cursive;
}

/* start */

#startArea{
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 後でコメントアウト */
  /* display: none; */
}
.startBtn{
  width: 300px;
  padding: 30px;
  margin: 30px;
  border: none;
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

/* game area */

#gameArea{
  width: 90%;
  margin: auto;
  /* 後でコメント戻す ↓ */
  display: none;
}

span{
  text-decoration: underline;
}

.rows{
  display: flex;
  justify-content: center;
}
.box{
  width: 70px;
  height: 70px;
  border: 3px solid lightgrey;
  margin: 3px;
  font-size: 25px;
  line-height: 300%;
}



/* input area */

#InputGameArea, #onscreenArea, h3{
  /* 後でコメント戻す ↓ */
  display: none;
}

#answerBtn{
  padding: 10px 40px;
  font-family: 'Bungee', cursive;
  background-color: hotpink;
  color: beige;
  font-size: 25px;
  border: none;
}

input{
  height: 3em;
  width: 35%;
}



/* keyboard area */

#keyboardArea{
  width: 95%;
  margin: auto;
}

.keyboardRows{
  display: flex;
  justify-content: center;
}

.keys{
  width: 50px;
  height: 70px;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  border: none;
  margin: 4px;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.keys:hover{
  background-color: rgb(145, 240, 243);
  color: beige;
  font-size: 2em;
}

#enter, #backspace{
  width: 6rem;
}
#enter > img{
  width: 25px;
}



/* modal */
#modal-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none; */
}

.modal-box {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 600px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(245, 239, 239, 0.46);
  cursor: pointer;
}

#statistics {
  width: 100%;
  display: flex;
  justify-content: center;
}

article{
  margin: 10px;
}

.result {
  font-size: 35px;
}

#distribution {
  width: 70%;
  margin: auto;
}

.count {
  color: #e6ecf0;
  background-color: lightgrey;
  padding: 0 3px;
}

#distribution > li > p {
  margin-bottom: -0.6em;
}

li {
  list-style: none; display: flex;
}
